<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Title</title>
</head>
<body>

<!-- user가 null인 경우 -->
<div th:if="${users == null}">
  <form method="post" action="/login">
    ID: <input type="text" name="id" /><br />
    PWD: <input type="password" name="password" /><br />
    <br />
    <input type="submit" />
  </form>
</div>

<!-- user가 null이 아닌 경우 -->
<div th:if="${users != null}">
  <p>id : <span th:text="${users.id}"></span></p>
  <a th:href="@{/student/view}">학생 리스트</a>
  <a th:href="@{/student/register}">추가</a>

  <br/>
  <form action="/logout">
    <input type="submit"  value="logout"/>
  </form>


</div>
</body>
</html>