<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

<table>

    <tbody>

    <tbody>
    <tr th:each="resident : ${residentPages.content}">

        <td th:text="${resident.name}"></td>
        <td th:each="issue : ${resident.certificateIssues}">
            <a th:text="${issue.certificateTypeCode}" th:href="@{'/report/' + ${issue.certificateConfirmationNumber}}"></a>
        </td>

    </tr>
    </tbody>

</table>

<div th:with="start=1, finish=${residentTotalPage}">
    <div th:each="index : ${#numbers.sequence(start, finish)}">
        <a th:href="@{/home(page=${index - 1})}" th:text="${index}"></a>
    </div>
</div>

</body>
</html>